<section id="fh5co-members" data-section="members">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">{{ with .Site.Params.members.title }}{{ . | markdownify }}{{ end }}</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>{{ with .Site.Params.members.description }}{{ . | markdownify }}{{ end }}</h3>
          </div>
        </div>
        <div class="row" style="margin-top: 30px;">
          <div class="col-md-offset-4 col-md-4">
            <div class="fh5co-person text-center to-animate">
              {{ $baseurl := printf "%s" .Site.BaseURL }}
              <figure><img src="{{ $baseurl }}images/cai-meng-fong.png" alt=""></figure>
              <h3>蔡孟峰</h3>
              <span class="fh5co-position">助理教授 / 校務資訊研究組組長</span>
              <p>專長：資料探勘、資料倉儲、分散式系統、巨量資料分析、雲端運算、科學計算</p>
              <ul class="social social-circle">
                <li><a href="mailto:mftsai@csie.ncu.edu.tw"><i class="icon-mail2"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>